<%- include('../layouts/admin_header') %>

 <h3 class="page-title">Add a department</h3>
 <a href="/admin/departments" class="btn btn-md btn-primary">View all departments</a>
<br><br>

<form method="post" action="">

    <div class="form-group">
        <label for="NAME">Department Name</label>
        <input type="text" class="form-control" name="department_name"  id="department_name">

        <label for="CODE">Department code</label>
        <input type="text" class="form-control" name="department_code"  id="department_code">
    </div>

    <button class="btn btn-default">Submit</button>
</form>

<%- include('../layouts/admin_footer') %> 