<%- include('../layouts/admin_header') %>

 <h3 class="page-title">Add a level</h3>
 <a href="/admin/levels" class="btn btn-md btn-primary">View all Levels</a>
<br><br>

<form method="post" action="">

    <div class="form-group">
        <label for="">Level</label>
        <input type="text" class="form-control" name="level"  id="level">
    </div>

    <button class="btn btn-default">Submit</button>
</form>

<%- include('../layouts/admin_footer') %> 