
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  

    <title>Admin Area</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminstyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script>
    
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/" target="_blank">DEJTECH</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin/courses" target="_blank">Courses <span class="sr-only">(current)</span></a>
            <li><a class="nav-link" href="/admin/departments">Departments <span class="sr-only">(current)</span></a></li>
            <li><a class="nav-link" href="/admin/levels">Level <span class="sr-only">(current)</span></a></li>
          </li>    
        </ul>

        <ul class="navbar-nav navbar-right">
          <li><a href="/users/logout"> Logout </a></li>
        </ul>  
      </div>
    </nav>

    <main role="main" class="container">

       
        
      </div>

   
